/* [next]/internal/font/google/zYXzKVElMYYaJe8bpLHnCwDKr932_G7dytD_Dmu1syxaKYbSB4ZhRNU-s.woff2 (static in css) */
/* embedded static asset "/_next/static/media/zYXzKVElMYYaJe8bpLHnCwDKr932_G7dytD_Dmu1syxaKYbSB4ZhRNU-s.5d32b3c4.woff2" */