/* [next]/internal/font/google/zYXzKVElMYYaJe8bpLHnCwDKr932_G7dytD_Dmu1syxQKYbSB4ZhRNU-s.woff2 (static in css) */
/* embedded static asset "/_next/static/media/zYXzKVElMYYaJe8bpLHnCwDKr932_G7dytD_Dmu1syxQKYbSB4ZhRNU-s.5c1672f3.woff2" */