/* [next]/internal/font/google/zYXzKVElMYYaJe8bpLHnCwDKr932_G7dytD_Dmu1syxdKYbSB4ZhRNU-s.woff2 (static in css) */
/* embedded static asset "/_next/static/media/zYXzKVElMYYaJe8bpLHnCwDKr932_G7dytD_Dmu1syxdKYbSB4ZhRNU-s.efc2a947.woff2" */