/* [next]/internal/font/google/zYXzKVElMYYaJe8bpLHnCwDKr932_G7dytD_Dmu1syxTKYbSB4ZhRNU-s.woff2 (static in css) */
/* embedded static asset "/_next/static/media/zYXzKVElMYYaJe8bpLHnCwDKr932_G7dytD_Dmu1syxTKYbSB4ZhRNU-s.f849ee40.woff2" */